<div class="container">
  <div class="row">
    <h2>Employee Registration Portal</h2>
  </div>
  <div *ngIf="message" class="alert alert-success">
      <strong>Success!</strong> {{ message }}.
    </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form class="form-horizontal" [formGroup]="empolyeeForm" (submit)="registerEmployee()">
        <div class="form-group">
          <label class="control-label col-sm-3" for="firstName">First Name:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="firstname" id="firstName" placeholder="Enter First Name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="lastName">Last Name:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="lastname" id="lastName" placeholder="Enter Last Name">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Gender:</label>
            <div class="radio col-md-4">
                <label><input type="radio" formControlName="gender" value="male" name="gender">Male</label>
              </div>
              <div class="radio col-md-5">
                <label><input type="radio" formControlName="gender" value="female" name="gender">Female</label>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-3" for="dob">Date of Birth:</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="DOB" id="dob" placeholder="Enter Date of Birth">
              </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="department">Department:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="department" id="department" placeholder="Enter Department">
                </div>
              </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>